body {
    font-family: 'Barlow';
    background-color: #252836;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

ul,
li {
    margin: 0;
    padding: 0;
}

/* .components-wrapper{
    display: flex;
    justify-content: space-between;
} */

.components-wrapper {
    overflow: clip !important;
}

.inner-wrapper{
    display: flex;


}

.pages-wrapper{
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding: 25px 25px 0 25px;
}

.header-wrapper{
    width: 100%;
}

.basket-wrapper{
    width: 100%;
}